# https://google.github.io/styleguide/pyguide.html#38-comments-and-docstrings
snippet deff "Create function with document (Google style)" b
	def ${1:func}(${2:arg1}: ${3:arg1_type}${4}) -> ${5:None}:
		"""${6:Short description here, following details below}

		Args:
			$2:${7:arg1_desc}${8}

		Returns:
			${9}

		Raises:
			${10}
		"""
		$0

snippet fdoc "Function document (Google style)" b
	"""${1:Short description here, following details below}

	Args:
		${2:arg1}:${3:arg1_desc}${4}

	Returns:
		${5}

	Raises:
		${6}
	"""$0
