extends html

snippet "\\(\w+|\$?\.?[\w.]+) " "go tag" wrA
{{ `!p snip.rv=match.group(1)` ${1:${VISUAL}} }}
endsnippet

snippet "--(\w+|\$?\.?[\w.]+) " "trimed tag" wrA
{{- `!p snip.rv=match.group(1)` ${1:${VISUAL}} -}}${0}
endsnippet

snippet // "comment tag" wA
{{/* ${1:${VISUAL}} */}}${0}
endsnippet
