extends markdown

snippet "==" "First heading" b
= ${1:`!v  expand('%:t:r')`} =
$0
endsnippet

snippet "==([1-6])" "Headings" rb
`!p snip.rv = '=' * int(match.group(1)) ` ${1:${VISUAL}} `!p snip.rv = '=' * int(match.group(1))`
$0
endsnippet

snippet tags "tags" iw
<!-- :${1:${VISUAL:tags}}: -->
endsnippet
