extends html

snippet Vue "basic structure" bwA
<template>
  $1
</template>

<script>
export default {
  name: '',
  props: {
  },
  data: function() {
    return {
    }
  },
  computed: {
  },
  methods: {
  },
  components: {
  },
}
</script>

<style>
  
</style>
endsnippet

