extends markdown

snippet ric "R inline code" wA
\`r ${1:${VISUAL}}\`$0
endsnippet

snippet rmc "R multiline code" wA
\`\`\`{r${1:, "${2:chunk name}"${3:, fig.cap="${4:${2/-/ /g}}"}}}
${5:${VISUAL}}
\`\`\`
$0
endsnippet
